a{
    text-decoration: none;
}

.margin-t20{
    margin-top: 20px;
}

.margin-b20{
    margin-bottom: 20px !important;
}

.margin-t50{
    margin-top: 50px;
}

.margin-b50{
    margin-bottom: 50px;
}

.margin-t100{
    margin-top: 100px;
}

.margin-b100{
    margin-bottom: 100px;
}

.margin_auto {
    margin: auto;
}

.text-center{
    text-align: center;
}

.padding-t100{
    padding-top: 100px;
}

.color-white{
    color: #FFF;
}

.background-color-white{
    background-color: purple;
}

.outline-thick {
    outline: 5px solid #000 !important;
}

.outline-thin {
    outline: 2px solid #000 !important;
    padding: 2px;
}

.fs-30 {
    font-size: 30px;
}

.text-bold {
    font-weight: bold;
}

.w-50 {
    width: 50%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.h-auto {
    height: auto;
}

.border-purple {
    border: 1px solid purple;
}

.border-round {
    border-radius: 5px;
}

.bg-grey {
    background-color: rgb(155, 137, 137, 0.5);
}

.bg-purple {
    background-color: purple;
}

.status_message {
    width: 90%;
    height: auto;
    margin: auto;
    padding: 1%;
    font-size: 12px ;
}

.success {
    width: 100%;
    padding: 1%;
    margin: auto;
    color: white;
    background-color: #71dd8a;
}

.error {
    width: 100%;
    padding: 1%;
    margin: auto;
    background-color: #c82333;
    color: white;
}