html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif !important;
  line-height: 25px !important;
}

body {
  background: #781C7D;
}

header{
  width: 100%;
  height: auto;
  margin: auto;
}

.logo{
  width:auto;
  height: auto;
  margin: auto;
}

.form-box{
  width: 250px;
}

.form-box-inline{
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

.inner {
  width: 40%;
}

.status_message {
  width: 46%;
  height: auto;
  margin: auto;
  padding: 1%;
  font-size: 12px ;
}

.success {
  width: 100%;
  padding: 1%;
  margin: auto;
  color: white;
  background-color: #71dd8a;
}

.error {
  width: 100%;
  padding: 1%;
  margin: auto;
  background-color: #c82333;
  color: white;
}

footer{
  text-align: center;
  color: white;
}

@media screen and (max-width: 600px){
  .inner{
    width: 100%;
  }

  .form-box-inline {
      width: 70%;
      margin: auto;
      display: block;
  }
}